<div class = "row">
	<div class = col-xs-12>
		<h2 class = introduction>敬語関連サイトへアクセス</h2>
		<br><br>

		<ul>
			<li>
				<a class = "link" href = "https://www.sanseido.biz/main/words/hyakka/sonkei/">三省堂 Web Dictionary</a>
			</li><br>

			<li>
				<a class = "link" href = "https://origamijapan.net/origami/2018/01/28/keigo-list/">ORIGAMI - 日本の伝統・伝承・和の心</a>
			</li><br>

			<li>
				<a class = "link" href = "https://email.chottu.net/">ビジネスメールの書き方</a>
			</li><br>

			<li>
				<a class = "link" href = "https://business-mail.jp/example">ビジネスメールの教科書</a>
			</li>
		</ul>
	</div>
</div>
