<div class = "row">
	<div class = col-xs-9>
		<h2 class = introduction>検索ページ</h2>

		<textarea></textarea>
		<button style = "color:black;">検索</button>
	</div>
	<div class = col-xs-3>
	</div>
</div>

