<div class = "row">
	<div class = col-xs-9>
		<h2 class = introduction>検索ページ</h2>

		<%= form_tag(posts_search_path, method: :get) do %>
		    <%= select(search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]])%>
		    <%= text_field(search_content, :search_word)%>
		    <%= submit_tag "検索" %>
		<% end %>
	</div>
	<div class = col-xs-3>
	</div>
</div>

