<div class = "row">
	<div class = "col-xs-9">
		<div class = "introduction">
			<h2><strong>ほっとひといき敬語塾</strong>へようこそ</h2>
			<p>ちょっと敬語を調べたいなぁってときにご活用ください</p>

			<br><br>

			<textarea></textarea>
			<button style = "color:black;">検索</button>
		</div>
	</div>
	<div class = "col-xs-3">
	</div>
</div>
<div class = "row">
	<%= @test.verb %>
</div>